@model RentACar.Model.Car;

@{
    ViewData["Title"] = "Add a new car.";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form group">
                <label class="control-label">Brand</label>
                <select asp-for="BrandID" asp-items="ViewBag.Brands" class="form-control"></select>
                <span asp-validation-for="BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Year</label>
                <input asp-for="ProductionYear" class="form-control" />
                <span asp-validation-for="ProductionYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seat count</label>
                <input asp-for="SeatCount" class="form-control" />
                <span asp-validation-for="SeatCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Transmission</label>
                <input asp-for="IsManual" class="form-control" />
                <span asp-validation-for="IsManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bluetooth</label>
                <input asp-for="HasBluetooth" class="form-control" />
                <span asp-validation-for="HasBluetooth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Parking sensors</label>
                <input asp-for="HasParkingSensors" class="form-control" />
                <span asp-validation-for="HasParkingSensors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Electric drive</label>
                <input asp-for="IsElectric" class="form-control" />
                <span asp-validation-for="IsElectric" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">GPS</label>
                <input asp-for="HasGps" class="form-control" />
                <span asp-validation-for="HasGps" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>