@model Car;

@{
    ViewData["Title"] = "Add a new car.";
}

<div class="row">
    <h4>Add a new car</h4>
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateOrEdit" />
        </form>
    </div>
</div>