@model List<Car>;

<div class="row">
    <h1 class="col-2">Fleet</h1>
    <button type="button" class="btn btn-success col-2 mb-2"><a class="nav-link text-light" asp-area=""
            asp-controller="Car" asp-action="Create">Add car</a></button>
</div>
<div class="mt-2 mb-4">
	<partial name="_CarFilterForm" model="new CarFilterModel()" />
</div>
<div class="row mt-3">
    <div class="card" id="tableContainer">
        <partial name="_IndexTable" model="new List<Car>()" />
    </div>
</div>

@section scripts {
<script>

    $(document).ready(filterCars());

    function filterCars() {
        console.log("Filter cars...");
        var formData = $("#filterForm").serialize();
        $.ajax({
            url: "@Url.Action("IndexAjax", new CarFilterModel())",
            method: "POST",
            data: formData,
            success: function(html) {
                $("#tableContainer").html(html);
            }
        });
    }

    function deleteCar(carID) {
        var link = "@Url.Action("DeleteAjax", new { carID = -123 })";
        link = link.replace("-123", carID);

        $.ajax({
            url: link,
            method: "DELETE",
            success: function(html) {
                $("#tableContainer").html(html);
            }
        });
    }
</script>
}